@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url("https://wallpapers.com/images/hd/cool-emoji-balls-with-happy-smile-eoii22mezecpg8n0.jpg");
  background-size: 100%;
  height: 100vh;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.excusa {
  background-image: url("https://www.ultraimagehub.com/wallpapers/tr:flp-false,gx-0.7,gy-0.5,q-75,rh-3264,rw-5824,th-1080,tw-1920/1242067671902847058.jpeg");
  background-size: 100%;
  position: relative;
  width: 1200px;
  height: 200px;
  min-height: 400px;
  box-shadow: 17px 17px 60px rgba(0, 0, 0, 15);
  padding: 150px;
  text-align: center;
}

.excusa h1 {
  color: red;
}

button {
  background-color: goldenrod;
  border: solid wheat;
}
